{{ define "main" }}
<div class="mb-2 ">
    <div class="container work-detail__container c-cover mt-2" >
      <div
        class="c-cover__background background-gradient"
        data-color="{{ .Params.color }}"
      ></div>
      <img
        class="c-cover__image"
        src="{{ .Params.cover_image }}"
        alt="{{ .Title }}"
      />
    </div>
    <style>
    	.projects-link a svg{
    		width: 20px;
    		height: 20px;
    	}
    </style>
	<div class="c-content__center pb-1">
     	<h2 class="section__title">{{ .Title }}</h2>
    	<span class="section__subtitle work__subtitle h4 mb-2">{{ .Params.job_type }}</span>
      	<div class="container work__container">
      		{{ .Content }}
      		<ul class="c-tags justify-start mt-1">
				{{ with .Params.website_link }}
					<li class="c-tags__item">
					<a class="c-tags__label button py-1" href="{{ . }}" target="_blank" rel="nofollow">
						<i class="fas fa-link"></i> Website
					</a>
					</li>
				{{ end }}
				
				{{ range $key, $value := .Params }}
					{{ if and (strings.HasSuffix $key "_link") (ne $key "website_link") }}
					<li class="c-tags__item">
						<a class="c-tags__label button py-1" href="{{ $value }}" target="_blank" rel="nofollow">
						{{- if eq $key "github_link" -}}
							<i class="fab fa-github"></i> Github
						{{- else -}}
							<i class="fas fa-link"></i> {{ replace (title (replace $key "_link" "")) "_" " " }}
						{{- end -}}
						</a>
					</li>
					{{ end }}
				{{ end }}
				</ul>			  
      	</div>
      	
      	{{- partial "social.html" . -}}
    </div>
</div>
{{end}}